{% extends 'base.html.twig' %}

{% block title %}Chercher par titre{% endblock %}

{% block body %}
<div class="container py-3">
    <h3>Chercher par titre</h3>
 {{form(form)}}
<a href="{{ path('livre_index') }}" class="btn btn-primary"><i class="icon-refresh"></i> Retour</a>

 </div>  
{% endblock %}
